*.py[cod]
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
tmp/
.cache/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage*
.tox
nosetests.xml
htmlcov

# Translations
*.mo

# Editors
.mr.developer.cfg
.project
.pydevproject
.idea
*.sublime-*

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
